.label {
    width: 100px;
    display: inline-block;
    text-align: right;
}

    .label:after {
        content: ": ";
    }

.teamImage {
    max-height: 100px;
    max-width: 100px;
}

.qrcode {
    max-height: 100px;
    max-width: 100px;
}
.gridViewGames {
    max-width: 95%;
}